<mapper namespace="com.jcy.dao.IUserDao">

    <!--唯一表示: namespace.id   statementId-->

    <!--查询所有-->
    <!--
        规范：接口的全路径要和namespace的值保持一致
            接口中的方法名要和id的值保持一直
    -->
    <select id="findAll" resultType="com.jcy.pojo.User" >
        select * from user
    </select>

    <!--按条件进行查询-->
    <!--
       User user = new User();
       user.setId(1);
       User.setUsername("tom");
    -->
    <select id="findByCondition" resultType="com.jcy.pojo.User" parameterType="com.jcy.pojo.User">
        select * from user where id = #{id} and username = #{username}
    </select>





</mapper>